#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.cell-label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  text-align: center;
  line-height: 20px;
}
